/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  padding:2rem;
  background-image: url("https://cdn.vox-cdn.com/thumbor/Tm1WBgyNmyv9ZZJToAYbYaHkun4=/0x0:6000x4286/1520x1013/filters:focal(2520x1663:3480x2623):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65725008/shutterstock_118022083.0.jpg");
  background-position: center center;
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.App{ 
  padding:0.5rem;
  padding-bottom:6rem;
}
.title{
  padding-top:2rem;
  
  font-size:5vmax;
  background:linear-gradient(to right,red ,white);
    background-clip:text;
    -webkit-background-clip: text;
  color:transparent;
  font-family: 'Comforter', cursive;
  text-shadow: 5px 5px 1px black;
}
.title:hover{
  background:linear-gradient(to left,red,white);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  
}

.addMovie{
  background-color:#ffffff;
  border-radius:15px;
}

.Movies{
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
.Movies:hover{
  box-shadow: 1px 2px 10px 2px red;
}

.summary{
  padding-left: 6px;
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
b{
  color: steelblue;
}

.img{
  width:100%;
  height:12rem;
  object-fit: cover;
}
.img:hover{
  transform: scale(1.13);
  transition: 0.3s ease-in-out;
}

.nameAndR{
  display:flex;
  justify-content:flex-end;
  padding:5px;
  align-items:center;
  color:red;
  font-family: 'Kalam', cursive;
}
.rating{
  padding-left: 8px;
  font-size:1.5rem;
}
.nameAndRAndD{
  display:flex;
  justify-content:space-between;
  padding-left:5px;
  align-items:center;
}


.Likes{
  margin: 1rem;
  display:flex;
  justify-content:flex-end;
}
.Likes>button{
  font-size:1.1rem;
  margin:0.2rem;
}
.Likes>button:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
nav{
  padding:1.5rem;
  display:grid;
}
nav>div{
  width:20%;
  padding:10px;
  font-size:1.1rem;
  border:2px solid white;
  text-align: center;
  background:gray;
}
nav>div:hover{
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background-color:white;
}
.welcome{
  text-align:center;
  font-size:3rem;
  background:linear-gradient(to right,red ,white);
}
.welcome:hover{
 
  background:linear-gradient(to left,red ,white);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}